body {
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Arial;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
}

a {
    color: cyan;
}
